<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body">
<div class="card">
  <div class="card-header">
    <h5>Messages:</h5>
    <div class="card-header-right">
      <ul class="list-unstyled card-option">
        <li><i class="fa fa fa-wrench open-card-option"></i></li>
        <li><i class="fa fa-window-maximize full-card"></i></li>
        <li><i class="fa fa-minus minimize-card"></i></li>
        <li><i class="fa fa-refresh reload-card"></i></li>
        <li><i class="fa fa-trash close-card"></i></li>
      </ul>
    </div>
  </div>
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>mobile</th>
          <th>message</th>
        </tr>
        </thead>
        <tbody>
        {% for d in msg %}
        <tr>
          <td>{{d.name}}</td>
          <td>{{d.email}}</td>
          <td>{{d.mobile}}</td>
          <td>{{d.message}}</td>
            <td>
            <form action="{% url 'contactdlt' data=d.id %}">
          <button  class="btn waves-effect waves-light btn-grd-danger btn-sm btn-round waves-effect">
            <i class="ti-trash"></i>Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<style>
    .body{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    }
</style>

</body>
</html>
{% endblock %}