<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body">
<div class="card">
  <div class="card-header">
    <h5>Company Details:</h5>
    <div class="card-header-right">
      <ul class="list-unstyled card-option">
        <li><i class="fa fa fa-wrench open-card-option"></i></li>
        <li><i class="fa fa-window-maximize full-card"></i></li>
        <li><i class="fa fa-minus minimize-card"></i></li>
        <li><i class="fa fa-refresh reload-card"></i></li>
        <li><i class="fa fa-trash close-card"></i></li>
      </ul>
    </div>
  </div>
  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>

          <th>Company Name</th>
          <th>Company Info</th>

          <th>Company Profile</th>
        </tr>
        </thead>
        <tbody>
        {% for d in company %}
        <tr>

          <td>{{d.companyName}}</td>
          <td>{{d.information}}</td>

          <td>
            <img src="{{d.companyProfile.url}}" width="50px" height="50px" class="img-circle" alt="">
          </td>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<div style="margin-left:970px">
         <form action="{% url 'DailyUpdates' %}">
          <button  class="btn waves-effect waves-light btn-grd-primary btn-sm btn-round waves-effect">
            <i class="ti-shift-left"></i>Back</button>
            </form>
          </div>
 <div style="margin-left:1050px; margin-top:-33px">
         <form action="{% url 'DailyUpdates2' %}">
          <button  class="btn waves-effect waves-light btn-grd-primary btn-sm btn-round waves-effect">
            <i class="ti-shift-right"></i>Next</button>
            </form>
          </div>
<style>
    .body{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    }
</style>

</body>
</html>
{% endblock %}