<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div class="row" style="margin-left:10px;margin-right:10px;margin-top:20px">
    <!-- task, page, download counter  start -->
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-purple">Company</h4>
                        <h6 class="text-muted m-b-0">Update & Delete</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class=""></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-purple">
                <div class="row align-items-center">
                    <div class="col-9">
                        <a href="{% url 'EditCompany' %}">
                        <p class="text-white m-b-0">click Here</p>
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <a href="{% url 'EditCompany' %}">
                        <i class="ti-more-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-green">Job</h4>
                        <h6 class="text-muted m-b-0">Update & Delete</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class=""></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-green">
                <div class="row align-items-center">
                    <div class="col-9">
                        <a href="{% url 'EditJob' %}">
                            <p class="text-white m-b-0">Click Here</p>
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <a href="{% url 'EditJob' %}">
                            <i class="ti-more-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-red">Country</h4>
                        <h6 class="text-muted m-b-0">Update & Delete</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-red">
                <div class="row align-items-center">
                    <div class="col-9">
                       <a href="{% url 'EditCountry' %}">
                            <p class="text-white m-b-0">Click Here</p>
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <a href="{% url 'EditCountry' %}">
                            <i class="ti-more-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4 class="text-c-blue">Job Updates</h4>
                        <h6 class="text-muted m-b-0">More</h6>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fa fa-hand-o-down f-28"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-c-blue">
                <div class="row align-items-center">
                    <div class="col-9">
                         <a href="{% url 'DailyUpdates' %}">
                             <p class="text-white m-b-0">Click Here</p></a>
                    </div>
                    <div class="col-3 text-right">
                         <a href="{% url 'DailyUpdates' %}">
                             <i class="ti-more-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
{% endblock %}