<!DOCTYPE html>
{% extends 'Home.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                  <img src="{% static 'images\About-Us.webp' %}">
                    </div>
                    <br>
                    <br>
                    <br>
                    <p>Findmyjob is a webpage is used to find jobs also give job opportunities others to join your company .Company websites. If you know certain companies you'd like to work for, then spend time monitoring the “Careers” section on their website to see when relevant postings open up.Unemployment can lead to a host of social problems, including poverty, crime, and social unrest. Creating employment opportunities helps to reduce these issues, providing people with a sense of purpose and hope for the future.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}